.container {
    display: flex;
    flex-wrap: wrap;
    min-width: 100vw;
    justify-content: center;
}
.cover-pic {
    width: 100%;
    height: auto;
}

.cover-pic-container {
    width: 100%;
    min-height: 15rem;
    top: -13%;
    flex: 1 1 100%;
}

.carousel-container  {
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 100%;
    justify-content: center;
    gap: 1.3em;
}

.carousel-container h1 {
    grid-column-start: 2;
    place-self: center;
}

.profile-pic-container {
    width: 26%;
    height: 90%;
    display: flex;
    flex-shrink: 1;
}

.profile-pic {
    width: 100%;
    height: auto;
}

.upload-prof-pic  {
    height: 20%;
    padding: 8px 18px;
    border-radius: 50%;
    border: none;
    font-size: 1.7em;
    position: relative;
    right: 35%;
    top: 69%;
    background: azure;
    color: black;
    transition: ease-in-out 0.3s;
    cursor: pointer;
}

.upload-prof-pic:hover {
    color: cornflowerblue;
}

#upload-prof-pic-input {
    display: none;
}

.upload-cover-pic-input-style  {
    position: relative;
    right: 52%;
    top: 56%;
    /* display: none; */
}

.upload-cover-pic {
    height: 22%;
    width: 10;
    position: absolute;
    z-index: 1;
    right: 96%;
    top: 20%;
    padding: 1px 12px;
    font-size: 2.2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.upload-prof-label {
    position: relative;
    right: 20%;
}

.upload-cover-label  {
    position: relative;
    right: -3%;
    top: 30%;
}

.descr-and-interests{
    display: flex;
    gap: 3em;
    flex-wrap: wrap;
    height: -moz-fit-content;
    height: fit-content;
    background-color: #f4f4f4;
    padding: 3em;
    align-items: baseline;
    flex: 1 1 100%;
}

.descr-and-interests p {
    height: 100%;
    width: 50%;
    font-size: 1.3em;
    word-break: break-word;
    margin-left: 0.3em;
}

.descr-and-interests ul {
    list-style-type: none;
    height: 100%;
    width: 50%;
    font-size: 1.3em;
    text-align: justify;
    display: inline-flex;
    /* justify-content: space-evenly; */
    gap: 0.4em;
    font-size: 1.4em;
    flex-wrap: wrap;
    flex: 1 1;
}
.descr-and-interests ul li {
    background-color: #A4CDFF;
    border-radius: 0.5em;
    padding: 0.2em;
}

.upload-carousel-img  {
    width: 20%;
    padding: 0.7em 0.7em;
    grid-column-start: 1;
    grid-column-end: two;
    border-radius: 22px;
    font-size: 1.3em;
    background-color: #A4CDFF;
    border: none;
    box-shadow: 2px 2px lightgray;
    margin: 0.4em 1em;
    z-index: 1;
}


.upload-carousel-img:hover, .upload-carousel-img i:hover  { 
 transition: ease-in-out 0.3s;
 cursor:pointer;
color: #F4F4F4;

}

.upload-carousel-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-width: 31rem;
    height: auto;
    grid-column-start: 2;
    place-self: center;
    gap: 0.5em;
    padding: 2em;
    background-color: #F7E5C3;
    border-radius: 1.5em;
    box-shadow: 0 0 1em 1em rgba(0, 0, 0, 0.1);
}

.upload-carousel-form label {
    font-weight: bold;
}

.upload-carousel-caption, .upload-carousel-img {
    flex: 1 2 45%;
    padding: 1.1em;
    text-align: center;
    width: 12rem;
    max-height: 4em;
}

.confirm-prof-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 13em;
    gap: 0.3em;
}

.confirm-prof-container {
    font-size: 1em;
    font-weight: bold;
}

.confirm-btn {
    transition: ease-in-out 0.2s;
    flex: 1 1 1em;
    padding: 1em 1em;
    border: none;
    border-radius: 0.8em;
    font-size: 1.2em;
    background-color: #A4CDFF;
}

.confirm-btn:hover {
    cursor: pointer;
    background-color: #C2E7FF;
    box-shadow: 2px 2px lightgray;
}