.chat-container {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.chat-main {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 0.8;
    margin: 0;
}