.slide-container {
    display: none;
}
.slide-container-active {
    display: block;
    border-radius: 25px;
}
.number-caption {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.text-caption {
    color: #f2f2f2;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    background-color: black;
    opacity: 0.4;
}
.slide-picture {
    width: 100%;
    border-radius: 25px;
}
.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}