.container {
    background-color: moccasin;
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 100%;
    width: 15em;
    flex-wrap: wrap;
    opacity: 0.8;
}
.header-container {
    width: 100%;
    text-align: center;
    background-color: moccasin;
    margin: 0 auto;
}

.header {
    color: sienna;
    font-size: xxx-large;
}

.users-list {
    width: 100%;
}

.user {
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    color: black;
}

.user:hover {
  background-color: lightskyblue;
  color: wheat;
}

.user-active {
    width: 100%;
    font-size: 20px;
    margin-bottom: 5px;
    margin-left: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    background-color: lightskyblue;
    color: wheat;
}

.divider {
    height: 20px;
}

.badge_message {  
    position: absolute;
    top: 7px;
    right: 80px;
    padding: 1px 4px;
    border-radius: 50%;
    background: red;
    color: white;
  }